{% extends 'base.html' %}
{% block main %}
<div id="main-content" class="content-box right-sidebar pad-top-big pr">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <!-- Blog Post Begins -->
                {% for post in posts %}
                <article class="outer-blog-box pr pad-bottom-small">
                    <div class="blog-img blog-media"><img src="{{ post.image_capa.url }}" alt="images" /></div>
                    <div class="blog-captions">
                        <h2 class="blog-title"> <a href="{% url 'frontend:post_detail' pk=post.pk %}">{{ post.title }}</a> </h2>
                        <ul class="below-blog-list">
                            <li>
                                <a href="javascript:void(0)"> <i class="fa fa-user-o" aria-hidden="true"></i> {{ post.author }} </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"> <i class="fa fa-calendar-o" aria-hidden="true"></i> {{ post.created_at }} </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"> <i class="fa fa-heart-o" aria-hidden="true"></i> {{ post.category.title }} </a>
                            </li>
                        </ul>
                        <p>
                            {{ post.content|truncatechars:50|safe }}
                        </p>
                        <div class="bottom-blog">
                            <a href="javascript:void(0)" class="continue-read"> Continuar lendo <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                            <ul class="social">
                                <li>
                                    <a href="javascript:void(0)"> <i class="fa fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"> <i class="fa fa-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"> <i class="fa fa-google-plus"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"> <i class="fa fa-linkedin"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
                {% endfor %}
                <!-- Blog Post Ends -->



                <!-- Blog Pagination Begins -->
                <div class="blog-pagination pad-bottom-small">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                          {% if posts.has_previous %}
                          <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>

                            {% endif %}

                              <li class="page-item"><a class="page-link" href="javascript:void(0)">Página {{ posts.number }} de {{ posts.paginator.num_pages }}</a></li>


                            {% if posts.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>

                            {% endif %}

                        </ul>
                    </nav>
                </div>
                <!-- Blog Pagination Ends -->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar pad-bottom-small">
                    <!-- Search Form Widget Begins -->
                    <div class="widget widget_search">
                        <h2 class="widget-title">Buscar</h2>
                        <form>
                            <input type="text" />
                            <button type="button" class="search-submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- Search Form Widget Ends -->
                    <!-- About Widget Begins -->
                    <div class="widget widget_about">
                        <h2 class="widget-title">Meu Resumo</h2>
                        <div class="about-box">
                            <div class="about-img"> <img src="{{ about.image_capa.url }}" alt="images"> </div>
                            <div class="about-info">
                                <p>{{ about.summary | truncatechars:50 }}</p>
                                <ul class="social">
                                    <li>
                                        <a href="https://www.facebook.com/neuly.ferreiradasilva" target="_blank"> <i class="fa fa-facebook"></i> </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"> <i class="fa fa-youtube"></i> </a>
                                    </li>
                                </ul>
                                <a href="{% url 'frontend:about'  %}" class="continue-read">Leia Mais <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- About Widget Ends -->
                    <!-- Recent Entry Widget Begins -->
                    <div class="widget widget_recent_entries">
                        <h2 class="widget-title">Últimos Posts</h2>
                        {% for recent_post in recent_posts %}
                        <div class="recent-box">
                            <div class="recent-img"> <img src="{{ recent_post.image_capa.url }}" alt="images"> </div>
                            <div class="about-info recent-info">
                                <h4> <a href="{% url 'frontend:post_detail' pk=recent_post.pk %}">{{ recent_post.title }}</a> </h4>
                                <h5>{{ recent_post.created_at | date:"d F Y" }}</h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Recent Entry Widget Ends -->
                    <!-- Categories Widget Begins -->
                  
                    <!-- Categories Widget Ends -->
                    <!-- Ad Banner Widget Begins -->
                    <div class="widget widget_ad_banner">
                        <a href="javascript:void(0)" target="_blank"> <img src="{{ senzala.image.url }}" alt="images" /> </a>
                    </div>
                    <!-- Ad Banner Widget Ends -->
                    <!-- Tag Cloud Widget Begins -->
                    <div class="widget widget_tag_cloud">
                        <h2 class="widget-title">Categorias populares</h2>
                        <div class="popular-box">
                          <ul>
                            {% for category in categories %}
                              <li> <a href="javascript:void(0)">{{ category.title }}</a> </li>
                             {% endfor %}
                          </ul>
                        </div>
                    </div>
                    <!-- Tag Cloud Widget Ends -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- insta-post Section Begins -->
<div id="insta-post" class="instagram-box pr pad-bottom-big">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2> <strong>Publicidade</strong></h2>
            </div>
        </div>
    </div>
    <div class="instagram-feed" id="footer-instagram-feed">
      {% for ad in ads %}
        <div class="item">
            <a href="javascript:void(0)"><img src="{{ ad.image.url }}" alt="{{ ad.title }}"></a>
        </div>
        {% endfor %}
    </div>
</div>
<!-- insta-post Section Ends -->
    {% endblock %}
