{% extends 'base.html' %}
{% block main %}
<div id="main-content" class="content-box right-sidebar pad-top-big pr">
<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 no-padding">
        <!-- Blog Post Begins -->
        <article class="outer-blog-box pr">
            <div class="blog-img blog-media"><img src="{{ post.image_capa.url }}" alt="images" /></div>
            <div class="blog-captions">
                <h2 class="blog-title"> <a href="javascript:void(0)">
                  {{ post.title }}
                </a> </h2>
                <ul class="below-blog-list">
                    <li>
                        <a href="javascript:void(0)"> <i class="fa fa-user-o" aria-hidden="true"></i> {{ post.author }}</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"> <i class="fa fa-calendar-o" aria-hidden="true"></i> {{ post.created_at }} </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"> <i class="fa fa-heart-o" aria-hidden="true"></i> {{ post.category.title }} </a>
                    </li>
                </ul>
                <p>
                  {{ post.content|safe }}
                </p>

            </div>
        </article>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="sidebar pad-bottom-small">
            <!-- Search Form Widget Begins -->
            <div class="widget widget_search">
                <h2 class="widget-title">Buscar</h2>
                <form>
                    <input type="text" />
                    <button type="button" class="search-submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <!-- Search Form Widget Ends -->
            <!-- About Widget Begins -->
            <div class="widget widget_about">
                <h2 class="widget-title">Meu Resumo</h2>
                <div class="about-box">
                    <div class="about-img"> <img src="{{ about.image_capa.url }}" alt="images"> </div>
                    <div class="about-info">
                        <p>{{ about.summary | truncatechars:50 }}</p>
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/neuly.ferreiradasilva" target="_blank"> <i class="fa fa-facebook"></i> </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"> <i class="fa fa-youtube"></i> </a>
                            </li>
                        </ul>
                        <a href="{% url 'frontend:about'  %}" class="continue-read">Leia Mais <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <!-- About Widget Ends -->
            <!-- Recent Entry Widget Begins -->
            <div class="widget widget_recent_entries">
                <h2 class="widget-title">Últimos Posts</h2>
                {% for recent_post in recent_posts %}
                <div class="recent-box">
                    <div class="recent-img"> <img src="{{ recent_post.image_capa.url }}" alt="images"> </div>
                    <div class="about-info recent-info">
                        <h4> <a href="javascript:void(0)">{{ recent_post.title }}</a> </h4>
                        <h5>{{ recent_post.created_at | date:"d F Y" }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Recent Entry Widget Ends -->
            <!-- Categories Widget Begins -->
            
            <!-- Categories Widget Ends -->
            <!-- Ad Banner Widget Begins -->
            <div class="widget widget_ad_banner">
                <a href="javascript:void(0)" target="_blank"> <img src="{{ senzala.image.url }}" alt="images" /> </a>
            </div>
            <!-- Ad Banner Widget Ends -->
            <!-- Tag Cloud Widget Begins -->
            <div class="widget widget_tag_cloud">
                <h2 class="widget-title">Categorias populares</h2>
                <div class="popular-box">
                  <ul>
                    {% for category in categories %}
                      <li> <a href="javascript:void(0)">{{ category.title }}</a> </li>
                     {% endfor %}
                  </ul>
                </div>
            </div>
            <!-- Tag Cloud Widget Ends -->
        </div>
    </div>
  </div>
{% endblock %}
