{% extends 'base.html' %}
{% block main %}
<div id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d970370.2202961615!2d-55.25187840381148!3d-18.186533872069756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x937e34fdfba06b0f%3A0x8dfa2fa63bac10cc!2sCoxim+-+MS!5e0!3m2!1spt-BR!2sbr!4v1495119854729" width="640" height="480"></iframe>

</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- Contact Form Section Begins -->
            <div class="contact-form pad-top-big pad-bottom-big">
                <h2> Entre em contato comigo através dos endereços abaixo: </h2>

            </div>
            <!-- Contact Form Section Ends -->
        </div>
        <!-- Contact Address Section Begins -->
        <div class="contact-address">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cntct-box">
                <h3> Endereço </h3>
                <div class="address-box">
                    <h4> <i class="fa fa-map-marker"></i> Rua Viriato Bandeira, 721 - Coxim - MS </h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cntct-box">
                <h3> Whatsapp </h3>
                <div class="callus-box">
                    <h4> <i class="fa fa-phone"></i> (67) 99907-2956 </h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cntct-box">
                <h3> Email </h3>
                <div class="emailus-box">
                    <h4> <i class="fa fa-paper-plane-o"></i> <a href="javascript:void(0)">neulyferreirablog@gmail.com</a> </h4>
                </div>
            </div>
        </div>
        <!-- Contact Address Section Ends -->
    </div>
</div>
{% endblock %}
